* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: var(--tg-color-scheme);
}
